*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.progress{
    width: 100%;
    height: 7px;
    background: gold;
    position: fixed;
    top: 0;
    left: 0;
}

h1, p{
    margin: 10px;
}